@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
             <AuthorizeView>
                <Authorized>
                    <p style="margin: 0px 10px 0px 0px;">Hello @context.User.Identity.Name!</p>
                    <p style="margin:0;" class="btn btn-sm btn-danger" @onclick="() => LogoutUser()"> Log out </p>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="btn btn-sm btn-info" href="login"> Log in </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
